:root {
    --logo-color: #000000;
    --text-color: #FFFFFF;
    --button-color: #7140EB;
    --section-color: #49464F;
    --main-color: #2E2C34;
    --sectionitem-color: #F5F5F7;
    --winterbutton-color: #F1EEF8;
}

body {
    font-family: "Roboto";
}

.container {
    width: 1054px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header, .hero {
    background-image: url(../img/header_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.header {
    padding-top: 15px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 124px;
    height: 70px;
}

.header-catalog {
    display: flex;
    gap: 30px;
    align-items: center;
}

.catalog-link {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.019055556; 
    font-weight: normal;
}

.catalog-button {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.019055556; 
    width: 183px;
    height: 42px;
    border-radius: 999px;
    background: var(--button-color);
    font-weight: normal;
}

.hero {
    padding-top: 126px;
    padding-bottom: 183px;
    text-align: center;
}

.hero-title {
    color: var(--text-color);
    font-size: 99px;
    line-height: 1.123151515; 
    letter-spacing: 5px;
    width: 542px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
}

.hero-desc {
    color: var(--text-color);
    font-size: 21px;
    line-height: 1.106428571; 
    width: 293px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
}

.hero-button {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.019055556; 
    border-radius: 999px;
    background: var(--button-color); 
    font-weight: normal;
    padding: 12px 51px;
}

.howitworks {
    background: var(--text-color);
    padding-top: 68px;
    padding-bottom: 73px;
}

.howitworks > .container {
    background-image: url(../img/bicycle_and_scooter.png);
    background-repeat: no-repeat;
    background-position: 300px center;
}

.howitworks-title {
    color: var(--section-color);
    font-size: 67px;
    line-height: 0.9961940299;
    width: 391px;
    font-weight: normal;
    margin-bottom: 71px;
}

.howitworks-sked {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sked-desc {
    color: var(--section-color);
    font-size: 28px;
    line-height: 1.229392857; 
    font-weight: normal;
    margin-left: 15px;
    width: 264px;
}

.sked-item {
    display: flex;
}

.sked-item::before {
    content: " ";
    width: 23px;
    color: var(--section-color);
    font-size: 27px;
    font-weight: normal;
    line-height: 1.434291667; 
}

.sked-item:first-child::before {
    content: "1.";
}

.sked-item:nth-child(2)::before {
    content: "2.";
}

.sked-item:nth-child(3)::before {
    content: "3.";
}

.sked-item:nth-child(4)::before {
    content: "4.";
}

.howitworks-button {
    width: 189px;
    height: 62px;
    border-radius: 999px;
    background: var(--button-color);
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.019055556; 
    font-weight: normal;
    margin-top: 51px;
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 20px;
    padding-bottom: 23px;
}

.moveyourway {
    background: var(--sectionitem-color);
    padding-top: 68px;
    padding-bottom: 73px;
}

.moveyourway-title {
    color: var(--main-color);
    font-size: 67px;
    line-height: 0.9961940299;
    font-weight: normal;
    width: 449px;
    margin-bottom: 27px;
}

.moveyourway-desc {
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.24115;
    font-weight: normal;
    width: 435px;
    margin-bottom: 48px;
}

.moveyourway-list {
    display: flex;
    gap: 16px;
}

.list-item {
    border-radius: 16px;
    background: var(--text-color);
    width: 334px;
    padding: 67px 24px 32px 24px;
}

.list-image {
    width: 286px;
    height: 227px;
}

.list-box {
    display: flex;
}

.list-desc {
    color: var(--section-color);
    font-size: 17px;
    line-height: 1.270588235; 
    font-weight: normal;
    width: 145px;
    margin-right: 16px;
    margin-bottom: 39px;
}

.list-button {
    color: var(--button-color);
    font-size: 16px;
    line-height: 1.5; 
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--winterbutton-color);
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.list-title {
    color: var(--section-color);
    font-size: 29px;
    line-height: 1.187; 
    font-weight: normal;
    width: 210px;
}

.list-subtitle {
    color: var(--section-color);
    font-size: 18px;
    line-height: 1.2; 
    font-weight: normal;
    width: 67px;
    margin-bottom: 11px;
}

.list-btn {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1; 
    width: 180px;
    height: 61px;
    border-radius: 999px;
    border: 1px solid var(--main-color);
    font-weight: normal;
}

.justride {
    background: var(--sectionitem-color);
    padding-top: 69px;
    padding-bottom: 73px;
}

.justride > .container {
    background-image: url(../img/woman_with_bicycle.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.justride-title {
    color: var(--main-color);
    font-size: 67px;
    line-height: 0.9961940299; 
    width: 426px;
    font-weight: normal;
    margin-bottom: 26px;
}

.justride-desc {
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.2; 
    width: 312px;
    font-weight: normal;
    margin-bottom: 39px;
}

.justride-button {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1; 
    width: 180px;
    height: 40px;
    border-radius: 999px;
    border: 1px solid var(--main-color);
    font-weight: normal;
}

.yourcity {
    background-image: url(../img/man_with_scooter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 98px;
    padding-bottom: 69px;
}

.yourcity-box {
    display: flex;
    justify-content: space-between;
}

.yourcity-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.content-title {
    color: var(--text-color);
    font-size: 65px;
    line-height: 1.026846154; 
    font-weight: normal;
    width: 319px;
    margin-bottom: 12px;
    margin-top: 179px;
}

.content-desc {
    color: var(--text-color);
    font-size: 21px;
    line-height: 1.182047619;
    font-weight: normal;
    width: 242px;
    margin-bottom: 29px;
}

.content-button {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.019055556; 
    width: 189px;
    height: 62px;
    border-radius: 999px;
    background: var(--button-color);
    font-weight: normal;
}

.content-subject {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.35; 
    font-weight: normal;
    width: 249px;
    margin-top: 33px;
}

.yourcity-items {
    display: flex;
    flex-direction: column;
}

.items-item:first-child {
    width: 280px;
}

.items-item:nth-child(2) {
    width: 473px;
}

.items-item:nth-child(3) {
    width: 376px;
}

.items-item:nth-child(4) {
    width: 248px;
}

.items-item:nth-child(5) {
    width: 348px;
}

.item-title {
    color: var(--text-color);
    font-size: 100px;
    line-height: 1.11192; 
    letter-spacing: 5px;
    font-weight: normal;
}

.incharge {
    background: var(--text-color);
    padding-top: 69px;
    padding-bottom: 74px;
}

.incharge-box {
    display: flex;
    justify-content: space-between;
}

.titlebox {
    padding-top: 0;
}

.incharge-title {
    color: var(--main-color);
    font-size: 65px;
    line-height: 1.026846154; 
    width: 248px;
    font-weight: normal;
    margin-bottom: 27px;
}

.incharge-subtitle {
    color: var(--main-color);
    font-size: 21px;
    line-height: 1.182047619; 
    width: 252px;
    font-weight: normal;
    margin-bottom: 36px;
}

.incharge-roster {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.roster-item {
    border-radius: 40px;
    background: var(--sectionitem-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.35; 
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 16px;
    height: 37px;

}

.roster-item:hover {
    color: var(--section-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.35; 
    border-radius: 40px;
    border: 1px solid var(--logo-color);
    background: var(--sectionitem-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.roster-item:first-child {
    width: 235px;
}

.roster-item:nth-child(2) {
    width: 282px;
}

.roster-item:nth-child(3) {
    width: 227px;
}

.roster-item:nth-child(4) {
    width: 178px;
}

.incharge-inventory {
    display: flex;
    gap: 16px;
}

.inventory-item {
    width: 334px;
    height: 518px;
    border-radius: 16px;
    background: var(--sectionitem-color);
    padding: 67px 24px 32px 24px;
}

.item-box {
    display: flex;
}

.inventory-desc {
    color: var(--section-color);
    font-size: 17px;
    line-height: 1.270588235; 
    font-weight: normal;
    width: 145px;
    margin-right: 16px;
    margin-bottom: 38px;
}

.inventory-button {
    color: var(--button-color);
    font-size: 16px;
    line-height: 1.5; 
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--winterbutton-color);
    font-weight: normal;
}

.inventory-title {
    color: #2E2C34;
    font-size: 29px;
    line-height: 1.187;
    width: 210px;
    font-weight: normal;
}

.inventory-subtitle {
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.2; 
    font-weight: normal;
    width: 67px;
    margin-bottom: 12px;
}

.inventory-btn {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.019055556;
    width: 189px;
    height: 62px;
    border-radius: 999px;
    background: var(--button-color);
    font-weight: normal;
}

.wantto {
    background: var(--sectionitem-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.wanttobox {
    display: flex;
    justify-content: space-between;
}

.wantto-title {
    color: var(--main-color);
    font-size: 67px;
    line-height: 0.9961940299; 
    width: 235px;
    font-weight: normal;
    margin-bottom: 53px;
    margin-top: 95px;
}

.wantto-button {
    color: var(--main-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1; 
    width: 180px;
    height: 39px;
    border-radius: 999px;
    border: 1px solid var(--main-color);
}

.wantto-roll {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.roll-text {
    color: var(--main-color);
    font-size: 20px;
    font-weight: normal;
    line-height: 1.182047619; 
}

.roll-item:first-child {
    width: 230px;
}

.roll-item:nth-child(2) {
    width: 330px;
}

.roll-item:nth-child(3) {
    width: 513px;
}

.roll-item:nth-child(4) {
    width: 223px;
}

.roll-item:nth-child(5) {
    width: 325px;
}

.roll-item:nth-child(6) {
    width: 323px;
}

.roll-item:nth-child(7) {
    width: 389px;
}

.roll-text::before {
    content: url(../img/plus.png);
}

.ourmembers {
    background: var(--text-color);
    padding-top: 68px;
    padding-bottom: 73px;
}

.ourmembers-title {
    color: var(--section-color);
    font-family: Roboto;
    font-size: 66px;
    font-weight: normal;
    line-height: 1.011287879; 
    width: 683px;
    margin-bottom: 98px;
}

.ourmembers-docket {
    display: flex;
}

.docket-item:first-child > .docket-title {
    width: 246px;
    margin-right: 139px;
}

.docket-item:nth-child(2) > .docket-title {
    margin-bottom: 47px;
    margin-right: 128px;
}

.docket-item:nth-child(3) > .docket-title {
    width: 229px;
}

.docket-title {
    color: var(--section-color);
    font-size: 29px;
    font-weight: normal;
    line-height: 0.989137931; 
    width: 265px;
    margin-bottom: 19px;
}

.docket-title:nth-child(2) {
    width: 256px;
}

.docket-desc {
    color: var(--section-color);
    font-size: 17px;
    font-weight: normal;
    line-height: 1.429411765; 
    width: 130px;
}

.footer {
    background-image: url(../img/footer_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 98px;
    padding-bottom: 21px;
}

.footerbox {
    display: flex;
    justify-content: space-between;
}

.containerbox {
    background-image: none;
    padding-top: 0;
    padding-bottom: 0;
}

.footer-title {
    color: var(--text-color);
    font-size: 29px;
    font-weight: normal;
    line-height: 1.187; 
    width: 217px;
    margin-bottom: 18px;
}

.footer-desc {
    color: var(--text-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5; 
    width: 286px;
    width: 286px;
    margin-bottom: 29px;
}

.shape-entry {
    border-radius: 10px;
    background: var(--text-color);
    color: rgba(73, 70, 79, 0.80);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.375; 
    margin-bottom: 25px;
    padding: 18px 135px 14px 16px;
    margin-right: 120px;
}

.footer-text {
    width: 259px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5; 
    width: 259px;
}

.footer-bill {
    display: flex;
    gap: 95px;
}

.item-schedule {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.schedule-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5; 
}


.schedule-menu, .schedule-products, .schedule-company, .schedule-legal {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}