.justride {
    background: var(--sectionitem-color);
    padding-top: 69px;
    padding-bottom: 73px;
}

.justride > .container {
    background-image: url(../img/woman_with_bicycle.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.justride-title {
    color: var(--main-color);
    font-size: 67px;
    line-height: 0.9961940299; 
    width: 426px;
    font-weight: normal;
    margin-bottom: 26px;
}

.justride-desc {
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.2; 
    width: 312px;
    font-weight: normal;
    margin-bottom: 39px;
}

.justride-button {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1; 
    padding: 12px 60px 12px 39px;
    border-radius: 999px;
    border: 1px solid var(--main-color);
    font-weight: normal;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 125px center;
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}

.justride-button:hover {
    background-color: #f0f0f0;
}